.form {
    width: 700px;
    background:
    radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
    radial-gradient(at 100% 100%,      rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px),
    #8a3;
    background-size: 20px 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.f3 {
   font-size: 1.5rem;
}


.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}


.pointer:hover {
    cursor: pointer;
}

.black {
    color: black;
}

.underline {
    text-decoration: underline;
}

.pa2 { 
    padding: .5rem; 
}

.pa3 {
    padding: 1rem;
}

.ma4 {
    margin: 2rem
}

.mt0 {
    margin-top: 0
}

.br4 {
     border-radius: 1rem; 
}

.bg-black {
    background-color: black;
}

.white { 
    color: #fff;
}

.bg-light-purple { 
    background-color: #a463f2; 
}

.Tilt {
    background: linear-gradient(89deg, #ff5EDF 0%, #04c8de 100%);
}

.f4 { 
    font-size: 1.20rem; 
}

.w-30 {  
    width:  30%; 
}

.w-70 {  
    width:  70%; 
}

.center { 
    margin-right: auto; 
    margin-left: auto; 
}

.grow {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.grow:hover,
.grow:focus {
    transform: scale(1.05);
}

.pv2 { 
    padding-top: .5rem; 
    padding-bottom: .5rem; 
}

.dib {   
    display: inline-block; 
}

.align-center {
    display: flex;
    justify-content: center;
}

.shadow-1 { 
    box-shadow: 0px 0px 4px 2px rgba( 0, 0, 0, 0.2 ); 
}

.shadow-5 { 
    box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 ); 
}

.pa4 { 
    padding: 2rem; 
}

.br3 {
    border-radius: .5rem; 
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
  }
